body {
  background: #999;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.canvas-wrapper {
  text-align: center;
}

canvas {
  border: 2px solid #000;
  cursor: none;
}

#sprites {
  visibility: hidden;
  height: 0;
}

#sprites img {
  visibility: hidden;
}

.striked {
  text-decoration: line-through;
  color: #333;
}

h1,
h2 {
  text-align: center;
}

#stats {
  width: 1200px;
  margin: auto;
  text-align: left;
}

#lives {
  font-size: 50px;
  color: red;
  display: inline;
}
